
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,300,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

$fontPath: "../../contrib-fonts/";

@font-face {
    font-family: 'omnesregular';
    src: url('#{$fontPath}omnes-regular-webfont.eot');
    src: url('#{$fontPath}omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}omnes-regular-webfont.woff2') format('woff2'),
         url('#{$fontPath}omnes-regular-webfont.woff') format('woff'),
         url('#{$fontPath}omnes-regular-webfont.ttf') format('truetype'),
         url('#{$fontPath}omnes-regular-webfont.svg#omnesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesbold';
    src: url('#{$fontPath}omnes-bold-webfont.eot');
    src: url('#{$fontPath}omnes-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}omnes-bold-webfont.woff2') format('woff2'),
         url('#{$fontPath}omnes-bold-webfont.woff') format('woff'),
         url('#{$fontPath}omnes-bold-webfont.ttf') format('truetype'),
         url('#{$fontPath}omnes-bold-webfont.svg#omnesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omneslight';
    src: url('#{$fontPath}omneslight-webfont.eot');
    src: url('#{$fontPath}omneslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}omneslight-webfont.woff2') format('woff2'),
         url('#{$fontPath}omneslight-webfont.woff') format('woff'),
         url('#{$fontPath}omneslight-webfont.ttf') format('truetype'),
         url('#{$fontPath}omneslight-webfont.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnessemibold';
    src: url('#{$fontPath}omnessemibold-webfont.eot');
    src: url('#{$fontPath}omnessemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}omnessemibold-webfont.woff2') format('woff2'),
         url('#{$fontPath}omnessemibold-webfont.woff') format('woff'),
         url('#{$fontPath}omnessemibold-webfont.ttf') format('truetype'),
         url('#{$fontPath}omnessemibold-webfont.svg#omnessemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnessemibold_italic';
    src: url('#{$fontPath}omnessemibold-italic-webfont.eot');
    src: url('#{$fontPath}omnessemibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}omnessemibold-italic-webfont.woff2') format('woff2'),
         url('#{$fontPath}omnessemibold-italic-webfont.woff') format('woff'),
         url('#{$fontPath}omnessemibold-italic-webfont.ttf') format('truetype'),
         url('#{$fontPath}omnessemibold-italic-webfont.svg#omnessemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_albertregular';
    src: url('#{$fontPath}fsalbert-webfont.eot');
    src: url('#{$fontPath}fsalbert-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}fsalbert-webfont.woff2') format('woff2'),
         url('#{$fontPath}fsalbert-webfont.woff') format('woff'),
         url('#{$fontPath}fsalbert-webfont.ttf') format('truetype'),
         url('#{$fontPath}fsalbert-webfont.svg#fs_albertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_albertbold';
    src: url('#{$fontPath}fsalbert-bold-webfont.eot');
    src: url('#{$fontPath}fsalbert-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}fsalbert-bold-webfont.woff2') format('woff2'),
         url('#{$fontPath}fsalbert-bold-webfont.woff') format('woff'),
         url('#{$fontPath}fsalbert-bold-webfont.ttf') format('truetype'),
         url('#{$fontPath}fsalbert-bold-webfont.svg#fs_albertbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


[data-icon="home"]:before,
.icon-home:before {
  content: "\e600";
}

[data-icon="print"]:before,
.icon-print:before {
  content: "\e601";
}

[data-icon="plus"]:before,
.icon-plus:before {
  content: "\e60a";
}

[data-icon="minus"]:before,
.icon-minus:before {
  content: "\e60b";
}

[data-icon="info"]:before,
.icon-info:before {
  content: "\e615";
}

[data-icon="search"]:before,
.icon-search:before {
  content: "\e602";
}

[data-icon="mail"]:before,
.icon-mail:before {
  content: "\e603";
}

[data-icon="facebook"]:before,
.icon-facebook:before {
  content: "\e604";
}

[data-icon="location"]:before,
.icon-location:before {
  content: "\e605";
}

[data-icon="pinterest"]:before,
.icon-pinterest:before {
  content: "\e606";
}

[data-icon="twitter"]:before,
.icon-twitter:before {
  content: "\e607";
}

[data-icon="linkedin"]:before,
.icon-linkedin:before {
  content: "\e608";
}

[data-icon="menu"]:before,
.icon-menu:before {
  content: "\e609";
}

[data-icon="cancel"]:before,
.icon-cancel:before {
  content: "\e60c";
}

[data-icon="checkmark"]:before,
.icon-checkmark:before {
  content: "\e60d";
}

[data-icon="notice"]:before,
.icon-notice:before {
  content: "\e60e";
}

[data-icon="close"]:before,
.icon-close:before {
  content: "\e616";
}

[data-icon="caret-down"]:before,
.icon-caret-down:before {
  content: "\e60f";
}

[data-icon="caret-up"]:before,
.icon-caret-up:before {
  content: "\e610";
}

[data-icon="caret-right"]:before,
.icon-caret-right:before {
  content: "\e611";
}

[data-icon="caret-left"]:before,
.icon-caret-left:before {
  content: "\e612";
}

[data-icon="angle-right"]:before,
.icon-angle-right:before {
  content: "\e613";
}

[data-icon="angle-left"]:before,
.icon-angle-left:before {
  content: "\e614";
}

[data-icon="angle-up"]:before,
.icon-angle-up:before {
  content: "\e617";
}

[data-icon="angle-down"]:before,
.icon-angle-down:before {
  content: "\e618";
}

[data-icon="play"]:before,
.icon-play:before {
  content: "\e619";
}

[data-icon="pause"]:before,
.icon-pause:before {
  content: "\e61a";
}

[data-icon="external-link"]:before,
.icon-external-link:before {
  content: "\e61b";
}

[data-icon="mail"]:before,
.icon-mail:before {
  content: "\e603";
}

[data-icon="check"]:before,
.icon-check:before {
  content: "\e61c";
}
