.node-type-article .pane-node-body {

    p strong {
        @include google_lato_font(bold);  
        @include font-resize-jbaby(32,40);   
    }
    .the-text {
        @include font-resize-jbaby(30,42);
        @include google_sans_font(regular);
    }
    td {
        @include font-resize-jbaby(30,42);
        @include google_sans_font(regular);        
    }

    ol.bignumber {
        list-style-type: none;

    }

    ol.bignumber li {
        position: relative;
        @include font-resize-jbaby(92,120);
        color: #FFF;
        min-height: 6rem;


        margin-bottom: 20px;
        p {
            @include font-resize-jbaby(30,42);
            @include google_sans_font(regular);
            padding-left: 60px;

        }
        span {
            position: absolute;


            text-align: center;
            width: 5.5rem;
            height: 5.5rem;
            background: #f16477;

            -moz-border-radius: 999px;
            border-radius: 999px
        }  

    }


    ol.rounded-list {
        display: block;
        padding: 0 0 0 26px;
        list-style: none;
        overflow: hidden;
        counter-reset: numList;
    }
    ol.rounded-list li {
        padding-bottom: 10px;
        padding-left: 10px;

        float: left;
        position: relative
    }
    ol.rounded-list li:before {
        counter-increment: numList;
        content: counter(numList);

        float: left;
        position: absolute;
        left: -26px;

        font-weight: bold;
        @include font-size(16,25);
        text-align: center;
        color: #fff;

        width: 25px; 
        height: 25px;
        background: #f16477;

        -moz-border-radius: 999px;
        border-radius: 999px
    }



    hr {
        @include dashed-border(11px, 6px, 1px, $borderlines, top);
        content: "";
        display: block;
        height: 5px;
        width: 100%;
        border: 0px;
    }
    .massage-guides-wrapper hr {
        @include dashed-border(11px, 6px, 1px, #febcbe, top);
    }
    .hisrc hr {  // under images hr 
                 @include dashed-border(5px, 5px, 1px, #999999, top);
                 content: "";
                 display: block;
                 height: 5px;
                 width: 100%;
                 border: 0px;
                 margin-top: 0px;
    }    

    .nighttime_routine {
        img { 
            border-right: 1px solid #a7a9ac; 
            padding-left: 0.2em;
            padding-right: 0.2em;
            margin-left: 0;

        }

        img:last-child { 
            border-right: 0px; 
        }
        @include device-size(tablet) {
            img {
                border-right: 0px;
            }
        }
    }

    a.showarrow {
        width: auto;  
        height:auto !important;   

        &:after {
            @include bi-direction-style(content, " ", content, " ");
            @include bi-direction-style(right, 0px, left, 0px);	
            @include retina_sprite("arrow-right-blue");
            display: inline-block;
            height: 21px;
            margin-left: 5px;
            overflow: hidden;
            vertical-align: bottom;
            width: 13px;
        }	
    }

    .bathtime-headers {
        @include google_sans_font(light);
        @include font-size(40, 40);
        color: #8bd5ef;
    }
    .bathtime-bubbles {
        background-image: image-url('bubbles.png');
        background-size: cover;
        @include device-size(tablet) {
            background-image: none;
        }
    }
    .bathtime-toddler-bubbles {
        background-image: image-url('bubbles-toddler.png');
        background-size: cover;
        @include device-size(tablet) {
            background-image: none;
        }
    }    

    // Put text vertically aligned next to the circles
    .baby-shower, .sponge-bath, .prevent-diaper-rash, .three-step-routine {

        .the-image, .the-text {
            display: inline-block;
            vertical-align: middle;
        }            
        .the-image {
            height: 101px;
            width: 17%;
            margin-right: 1%;
        }
        .the-text {
            width: 81%;
        }
    }
    .three-step-routine         .the-image {
        height: 135px;
    }
    .baby-shower, .sponge-bath {
        .middle-align {
            padding-left: 30px;       
            @include device-size(tablet) {
                padding-left: 0;                   
            }
        }
    }
    .massage-guides {
        .middle-align {
            margin-top: 15px;
        }
        .the-image, .the-text {
            display: inline-block;
            vertical-align: middle;
        }            
        .the-text {
            width: 78%;
        }        
        .the-image {
            width: 20%;
            height: 188px;
            margin-right: 1%;
        }
        margin-left: 5%;
        margin-right: 5%;

        h3 {
            @include google_sans_font(bold);  

            @include font-resize-jbaby(46);

            color: #333333;
        }
        @include device-size(tablet) {
            .the-text, .the-image {
                width: 100%;
            }
        }
    }
    .massage-guides-wide {
        .the-text {
            width: 50%;
        }        
        .the-image {
            width: 40%;
        }
        @include device-size(tablet) {
            .the-text, .the-image {
                width: 100%;
            }
        }        
    }
    .massage-guides-wide-tall {
        .the-text {
            width: 50%;
        }        
        .the-image {
            width: 40%;
            height: 368px;
        }
        @include device-size(tablet) {
            .the-text, .the-image {
                width: 100%;
            }
        }        
    }

    .spongebathheader {
        @include font-size($extraLargeFontSize);
        color: #fdc773;   
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    .spongebathinfo {
        .one-sixth {
            width: 15%;
            text-align: center;
            p {
                text-align: center;
            }
            @include device-size(tablet) {
                width: 100%;
                p {

                    clear: both;
                }
            }
        }   
        .one-fifth {
            text-align: center;
            p {
                text-align: center;
            }
            @include device-size(tablet) {
                width: 100%;
                p {
                    clear: both;
                }            
            }          
        }
    }
    .diaper-rash {
        .hisrc hr {
            margin-bottom: 40px;
        }    
        .the-image, .the-text {
            display: inline-block;
            vertical-align: top;
        } 
        .prevent-diaper-rash {
            .the-image, .the-text {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .the-image {
            width: 50%;
            img.float-left {
                max-width: 98px;
                padding: 0px;
                width: 100%;
            }                
        }
        .the-text {
            width: 48%;
            .diaperrashheaders {
                @include google_lato_font(light);
                @include font-size(21);
                line-height: 0.5rem;
                color: #f4bb67;
            }
        }  
        .indent_two_halves {
            margin-left: 17%;
            margin-right: 17%;
        }
        .diaper-rash-baby {
            background-image: image-url('backgrounds/diaper_rash_baby.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            height: 144px;
            width: 736px;
            position:absolute;
        }  
        .footnote {
            padding-bottom: 50px;
        }
        @include device-size(tablet) {
            .diaper-rash-baby {
                display: none;
            }
            .footnote {
                padding-bottom: 0px;
            }            
            .indent_two_halves { 
                margin: 0;
            }
            .the-image, .the-text {

                vertical-align: middle;
            }
            .the-image {
                width: 21%;
            }
            .the-text {
                width: 77%;
            }               
            .one-third, .half {
                width: 100%;
                margin-left: 0px;
            }
        }
    }    
    .massage-tips {
        .col {
            padding: 10px;
            margin-left: 0px;
        }
        .the-image, .the-text {
            display: inline-block;
            vertical-align: middle;
        }            

        .the-image {

            width: 21%;
            margin-right: 1%;
            img.float-left {
                max-width: 120px;
                padding: 0px;
                width: 100%;
            }
        }
        .the-text {
            width: 77%;
        }
        .half {
            .the-image {
                width: 45%;
            }
            .the-text {
                width: 52%;
            } 
            @include device-size(tablet) {
                .the-image {
                    width: 21%;
                }
                .the-text {
                    width: 77%;
                }                 

            }
        }        
        @include device-size(tablet) {
            .col {
                padding-left: 10px;

            }

            .half {
                width: 100%;
                margin-left: 0px;
            }        
        }
    }
}