// ==============================================
// Callout TACO Bean default and variations
// ==============================================

.bean-taco {
    @include callout-base;

    position: relative;
    padding: 1.5rem;
    margin: 0 0 1rem 0;
    @include border-radius(1rem);
    @include box-shadow(0px 0px 4px rgba(0,0,0,.2)); 
    background-color: #FFFFFF !important;

    .pane-title {
        display: none;
    }
    h2, h3, h4 {
        color: $JJPink;
        @include google_lato_font(regular);
        @include font-resize-jbaby(50,56); 
        margin-top: 5px;
        margin-bottom: 12px;
        @include device-size(tablet) {
            @include font-size(20,20); 
        }
        @include device-size(mobile) {
            @include font-size(16,16); 
        }
    }
    p img.floatleft {
        margin-right: 10px;
        float: left;

    }
    p img.floatright {
        margin-left: 10px;
        float: right;
    }
    img {
        @include border-radius(1rem 1rem 0 0);
    }

    p {
        @include google_sans_font(regular);
        @include font-resize-jbaby(30,42);        
        sup {
            font-size: 100%;
            top: 0 !important;
        }
    }


}

.front .one-third .bean-taco {
    padding: .5rem;
    .pane-title {
        display: none;
    }
}

@include device-size(tablet) {    
    .front .pane-taco-pane.half.homepage-middle {
        //width: 49%;  
    }
}
@include device-size(mobile) {  
    .front .pane-taco-pane.half.homepage-middle {
        //width: 100%;  
    }
}



// On tace-full-width -- no padding
.taco-full-width .bean-taco {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;

}


.pane-taco-pane.taco-full-width {
    .content-col{
        padding: 1rem;
        @include device-size(mobile) {
            padding-top: 0.5rem;    
        }

        .content {
            padding: 0px !important;
        }
    }
    .call-to-action {
        padding-right: 1rem;
    }  
    .call-to-action .field--name-field-taco-links .field-collection-item-field-taco-links .field-item {
        text-align: left;
    }


}
@include device-size(tablet) {
    .pane-taco-pane.taco-full-width.cta-blue.horizontal {
        //height: 351px !important;
    }
}
// take the images all the way to left and round the pictures */
.pane-block.taco-full-width, .pane-taco-pane.taco-full-width {
    .bean-taco {
        padding: 0px;

        h2, h3, p, .call-to-action {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        h2, h3, h4 {
            @include google_lato_font(regular);

            @include font-resize-jbaby(52,56);
        }
        p {
            @include google_sans_font(regular);

            @include font-resize-jbaby(28,40);    
            @include device-size(mobile) {
                @include font-size(14,18);    
            }
        }
    }    

    img {
        @include border-radius(1rem 0 0 1rem);

        @include device-size(mobile) {
            @include border-radius(1rem 1rem 0 0);
        }
    }    
    .video-container {
        @include border-radius(1rem 1rem 0 0);
    }
}



// In right columns always align left
.one-quarter {

    .bean-taco .call-to-action .field--name-field-taco-links .field-collection-item-field-taco-links .field-item { 
        text-align: left;
    }
    .bean-taco .call-to-action .field--name-field-taco-links .field-collection-view {
        margin: 0;
    }
    .pane-taco-pane .field--name-field-taco-link-call-to-action, .pane-taco-pane .field--name-field-taco-links, .bean-taco .field--name-field-taco-link-call-to-action, .bean-taco .field--name-field-taco-links {
        float: none;
    }
    .pane-block.taco-full-width, .pane-taco-pane.taco-full-width {
        .call-to-action {
            margin-bottom: 24px;
        }
    }
}

