// Set colors for this page.. many used..

$st_blue: #3bbbec;
$st_orange: #d06426;
$st_green: #198c4b;
$st_purple: #584e8a;
$st_darkblue: #0079c1;
$st_yellow: #ffd27a;
$st_lightpurple: #b296c7;
$st_violet: #8f468f;

.page-node-151 {
    .main-row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .breadcrumb-row {
        display: none;
    }



    $st_simpletruth_herotitle: #336da6;

    .title-row {
        margin-bottom: 0;
        position: relative;
        z-index: 150;
        .section-inner-wrapper { 
            margin-bottom: 0px; 
        }
        @include device-size(mobile) {
            .view-jjbos-carousel-slideshow {
                margin-bottom: 0px;
            }
        }
        .carousel-row-container {
            .inner {
                width: 45%;
                @include device-size(mobile) {
                    width: 100%;
                }
            }
            background-image: image-url('backgrounds/simpletruth_header.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            @include device-size(mobile) {
                background-image: image-url('backgrounds/mobile_header_bk.jpg');  
                background-size: 100% auto;
            }
            @include box-shadow(0px 3px 3px 0px #aaa);

            .field--name-field-slide-headline {
                padding-top: 40px;
                @include device-size(mobile) {
                    width: 50%;   
                    padding-bottom: 12%;
                    padding-top: 10%;
                }
                .field__item {
                    color: $st_simpletruth_herotitle;
                    @include google_sans_font(bold);
                    @include font-size(43);
                    @include device-size(mobile) {
                        color: #2581de;

                    }
                }
            }
            .content-container .field--name-field-slide-copy p {
                @include font-size(18, 18);
            }
            ul {
                list-style-type: none;
                padding: 0px;
            }
            li {
                position: relative;
            }
            a {
                @include google_sans_font(regular);
                @include font-size(18, 18);
                text-decoration: underline;

                &.st_blue {
                    color: $st_blue;
                }
                &.st_orange {
                    color: $st_orange;
                }
                &.st_green {
                    color: $st_green;
                }
                &.st_violet {
                    color: $st_violet;
                }
                &.st_darkblue {
                    color: $st_darkblue;
                }
                &:after {
                    content: "\e613";
                    font-family: 'icomoon';
                    font-size: 14px;
                    margin-top: -12px;
                    position: absolute;
                    padding-left: 5px;
                    top: 50%;
                }
            }
        }
    }

    .hide-anchor { 
        height: 0; 
        margin: 0;
    }
    //used to adjust the anchor link on desktop
    #common-myths {          
        padding-top: 60px;
        margin-top: -60px;
        @include device-size(mobile) {
            padding-top: 0px;
            margin-top: 0px;
        }
    } 
}

.pane-simple-truth-common-myths {
    position: relative;
    z-index: 100;
}
.pane-simple-truth-answers-to-popular {
    z-index: 90;
    position: relative;
}
.pane-simple-truth-behind-the-label {
    z-index: 80;
    position: relative;    
}
.pane-simple-truth-what-changed {
    z-index: 70;
    position: relative;    
}
.pane-simple-truth-how-are-we-doing {
    z-index: 60;
    position: relative;    
}

@mixin format_title_copy_cta($header_bk, $headerleft, $headertop, $headerbottom, $cta_bk_color) {


    h2 {
        background-image: image-url($header_bk);
        background-position: top left;
        background-repeat: no-repeat;
        @include google_sans_font(bold);
        @include font-size(28, 28);  // was 36 in psd
        color: #FFFFFF;
        padding-left: $headerleft;
        padding-top: $headertop;
        padding-bottom:  $headerbottom;
        @include device-size(mobile) {
            display: none;
        }
    }
    p {
        padding-left: $headerleft;
        padding-right: 10%;
        @include font-size(14);  // was 18 in psd
        @include device-size(mobile) {
            padding-left: 0;
            padding-right: 0;          
        }
    }
    a {
        background-color: $cta_bk_color;
        color: #FFF;
        width: auto;
        position: relative;
        cursor: pointer;
        display: inline-block !important;
        filter: none;   // Overriding this for IE 9 since its picking it up.        
        padding: 5px 50px;
        @include google_sans_font(regular);
        @include font-size(16);  // was 20 in psd
        @include prefix(border-radius, 20px);
        &:after{
            padding-left: 5px;
            content: "\e613";
            font-family:'icomoon';
            @include device-size(mobile) {
                position: absolute;
                right: 15px;
            }
        } 
        @include device-size(mobile) {
            width: 100%;
            padding: 5px 20px;
        }
    }  

}

.mobile-simple-truth-header {
    @include device-size(desktop) {
        display: none;
    }
    @include device-size(mobile) {
        display: block;
    }
} 

// common myths
.collapsed-simpletruth-pane-1 {
    background-image: image-url('backgrounds/common_myths_bk.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 360px;

    @include device-size(tablet) {
        background-color: #e5f2fe;
    }
    @include device-size(mobile) {
        min-height: inherit;
    }        
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    &.removeshadows {
        @include box-shadow(0px -3px 2px 0px #aaa);
        @include border-radius(0);  
    }
    #common-myths {
        width: 45%;
        position: absolute;
        right: 0;
        top: 18%;
        @include device-size(mobile) {
            position: relative;
            width: 100%;    
            padding-top: 10%;
            background-color: #c4e6f6;
            padding-bottom: 1%;
        }

        @include format_title_copy_cta('backgrounds/clouds_acc.png', 9%, 9%, 3%, #46b9ff);

    }
}
// Common Myths
.expand-simpletruth-pane-1 {  
    background-image: image-url('backgrounds/common_myths_bottom_bk.png');
    background-color: #e5f2fe;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include device-size(mobile) {
        background-image: none;
        background-color: #c4e6f6;
    }    
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    margin-top: -3px;    
    .bean-qa {

        margin: 0 auto;
        width: 60%;
        @include device-size(tablet) {
            width: 100%;
        }

        .field--name-field-qa-question {

            background-color: transparent;
            background-image: image-url('backgrounds/clouds_acc.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 100%;
            @include device-size(mobile) {
                background-image: image-url('backgrounds/clouds_acc_mobile.png');    
            }

            &:after {
                bottom: 10px;
                top: initial;
                color: #FFF;
            }
            div.field__item {
                padding-top: 6%;
                @include device-size(mobile) {
                    padding-top: 9%;    
                }
            }
            p {
                color: #FFF;
            }
            &.active-accordion {
                background-image: image-url('backgrounds/clouds_white_acc.png');
                @include device-size(mobile) {
                    background-image: image-url('backgrounds/clouds_white_acc_mobile.png');    
                }
                p {
                    color: #235fa7;
                }
                &:after {
                    color: #235fa7;
                }

            }
        }
        .field--name-field-qa-answer {
            .field__item {
                border-left: 1px solid #4ba0d3;
                border-right: 1px solid #4ba0d3;
                border-bottom: 2px solid #4ba0d3;
                @include border-radius(0 0 1rem 1rem);
            }
            @include border-radius(0 0 1rem 1rem);
            @include device-size(mobile) {
                @include border-radius(0);
                background-color: #f0fbff;
                border: 0px;
            }            
            .back-to-top {
                display: none;
            }
        }
    }
    .field--name-title-field {
        display: none;
    }
}

// answer to popuplar questions
.collapsed-simpletruth-pane-2 {
    background-image: image-url('backgrounds/answer_to_questions_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 360px;
    @include device-size(tablet) {
        background-color: #fff6e4;
    }
    @include device-size(mobile) {
        min-height: inherit;
    }     
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    &.removeshadows {
        @include box-shadow(0px -3px 2px 0px #aaa);
        @include border-radius(0);  
    }    
    #popular-questions {
        width: 45%;
        position: absolute;
        left: 5%;
        @include device-size(mobile) {
            position: relative;
            width: 100%;    
            padding-top: 10%;
            background-color: #fff1d2;
            left: 0;
            padding-bottom: 1%;
        }

        @include format_title_copy_cta('backgrounds/popular-questions-title_bk.png', 14%, 22%, 6%, #fcbc7e);        
        @include device-size(tablet) {
            h2 {  
                padding-top: 25%;
            }
        }

    }
}
.expand-simpletruth-pane-2 {  
    // answer to popular questions
    background-image: image-url('backgrounds/answers_to_questions_bottom_bk.jpg');
    background-color: #fff6e4;    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include device-size(mobile) {
        background-image: none;
        background-color: #fff1d2;
    }     
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);    
    margin-top: -3px;    
    .bean-qa {

        margin: 0 auto;
        width: 90%;

        @include device-size(mobile) {
            width: 100%;
        }
        .field--name-field-qa-question {

            background-color: #fcbc7e;
            p {
                color: #d06426;
            }
            &:after {
                color: #d06426;
            }            
        }
        .field--name-field-qa-answer {
            background-color: transparent;

            p {
                color: #d06426;    
            }
            .back-to-top {
                display: none;
            }
        }
        .field--name-title-field {
            display: none;
        }        
    }
    .simple-carousel-nav {
        display: none;
        @include device-size(mobile) {        
            display: block;
        }

        #reformulate-product-prev { 

            @include device-size(mobile) {
                position: absolute;                
                @include retina_sprite("simple_carousel_mobile_left");            
                top: 25%;
                left: -15%;                
                z-index: 100;
            }

        }
        #reformulate-product-next{ 

            @include device-size(mobile) {
                position: absolute;                
                right: -15%;                     
                top: 25%;
                @include retina_sprite("simple_carousel_mobile_right");                           
                z-index: 100;
            }

        }
    }
    @include device-size(mobile) {    
        .simple-carousel-wrap {
            margin: 0 auto;
            position: relative;
            width: 75%;
            max-height: 320px;
        }
    }
    .reformulate-product {
        text-align: center;
        min-height: 250px;
        @include device-size(mobile) {
            padding-left: 10%;
            padding-right: 10%;
        }        
        .reformulate-product-slide { 
            display: inline-block; 
            @include device-size(mobile) {
                display: block;
            }
        }
        p{

            text-align: center;
            img {
                @include device-size(mobile) { 

                }

            }
        }
    }
}

.collapsed-simpletruth-pane-3 {  
    //behind the label
    background-image: image-url('backgrounds/behind_label_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #f7ffef;
    background-size: 100%;
    position: relative;
    min-height: 360px;    

    @include device-size(mobile) {
        background-image: image-url('backgrounds/behind_the_label_mobile_bk.jpg');
        min-height: inherit;
    }
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    &.removeshadows {
        @include box-shadow(0px -3px 2px 0px #aaa);
        @include border-radius(0);  
    }    
    #behind-label {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        @include device-size(tablet) {
            position: relative;
            width: 50%;  
            float: right;
        }         
        @include device-size(mobile) {
            position: relative;
            width: 100%;    
            padding-bottom: 1%;
            float: none;
        }        
        @include format_title_copy_cta('backgrounds/behindthelabel_title_bk.png', 18%, 13%, 5%, #a2d96a);        
        @include device-size(tablet) {
            p {
                padding-right: 5%;
                padding-left: 14%;
                margin-bottom: 10px;

            }
        }
    }    
}
.expand-simpletruth-pane-3 {  
    // behind the label
    background-image: image-url('backgrounds/behind_label_bottom_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);    
    margin-top: -3px;

    padding-top: 0%;
    padding-left: 15%;
    padding-right: 15%;

    min-height: 350px;

    position: relative;
    @include device-size(tablet) {
        background-image: none;
        background-color: #f7ffef;
    } 
    @include device-size(mobile) {
        padding-left: 3%;
        padding-right: 3%;        
        min-height: 700px;
        background-color: #f7ffef;
    }    

    .simple-carousel-nav {



        #simple-label-carousel-prev { 
            position: absolute;
            top: 40%;
            left: 8%;
            background-image: image-url('simpletruth_prev_arrow.png');
            width: 36px;
            height: 52px;  
            @include device-size(mobile) {
                @include retina_sprite("simple_carousel_mobile_left");            
                top: 25%;
                z-index: 100;
            }

        }
        #simple-label-carousel-next { 
            position: absolute;
            top: 40%;
            right: 8%;            

            background-image: image-url('simpletruth_next_arrow.png');
            width: 36px;
            height: 52px;
            @include device-size(mobile) {
                top: 25%;
                @include retina_sprite("simple_carousel_mobile_right");                           
                z-index: 100;
            }

        }
    }

    .simple-slide {
        @include device-size(mobile) {
            background-color: #FFF;
            @include box-shadow(0px 1px 1px 1px #aaa);        
            @include border-radius(1rem 1rem 1rem 1rem);
        }
        h2 {
            color: #0074d9;
            @include google_sans_font(bold);
            @include font-size(16); // was 24 in psd
            @include device-size(mobile) {
                text-align: center !important;
            }
        }        
    }

    .simple-slide-content {
        background-color: #FFF;
        @include box-shadow(0px 1px 1px 1px #fede6f);        
        @include device-size(mobile) {
            @include box-shadow(0px 0px 0px 0px #FFF);        
        }
        .first-col {
            text-align: center;
        }

        img { 
            max-height: 312px;
            max-width: 315px;
            width: 100%;
        }
        p {
            width: 100%;
            color: #474747;
            border-bottom: 1px solid white;
            @include google_sans_font(regular);
            @include font-size(13);  // was 16 in psd         
            margin: 0 !important;
            padding-top: 2px;
            padding-bottom: 5px;
            padding-left: 20px;
            &.st_blue {
                background-color: $st_blue;
                color: #FFFFFF;
            }
            &.st_orange {
                background-color: $st_orange;
                color: #FFFFFF;
            }
            &.st_green {
                background-color: $st_green;
                color: #FFFFFF;
            }
            &.st_violet {
                background-color: $st_violet;
                color: #FFFFFF;
            }
            &.st_purple {
                background-color: $st_purple;
                color: #FFFFFF;
            }
            &.st_yellow {
                background-color: $st_yellow;
            }
            &.st_lightpurple {
                background-color: $st_lightpurple;
                color: #FFFFFF;
            }
        }
    }
}

.collapsed-simpletruth-pane-4 {  
    //What changed
    background-image: image-url('backgrounds/whatschanged_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 360px;
    @include device-size(tablet) {
        background-color: #f7ecff;
    }
    @include device-size(mobile) {
        background-image: image-url('backgrounds/what_change_mobile_bk.jpg');
        min-height: inherit;
    }    
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    &.removeshadows {
        @include box-shadow(0px -3px 2px 0px #aaa);
        @include border-radius(0);  
    }    
    #what-changed {
        width: 45%;
        position: absolute;
        left: 5%;
        @include device-size(mobile) {
            position: relative;
            width: 100%;  
            left: 0;
            padding-bottom: 1%;
        } 
        @include format_title_copy_cta('backgrounds/what-changed-title-bk.png', 27%, 12%, 5%, #b296c7);        
        @include device-size(tablet) {
            h2 {          
                padding-bottom: 8%;
                padding-left: 35%;
                padding-top: 14%;
            }
            p {
                margin-right: -10%;
            }
        }
    }    
}

// what changed
.expand-simpletruth-pane-4 {  

    background-image: image-url('backgrounds/whatschanged_bottom_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include device-size(tablet) {
        background-image: none;
        background-color: #f7ecff;
    }     
    @include device-size(mobile) {
        background-image: none;
        background-color: #f7ecff;
    }     
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);    
    margin-top: -3px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 5%;
    padding-bottom: 5%;

    #ingredient-tabs {
        //        b296c7 tab top
        //        #8f468f active tab top
        //#e3d1f1 background
        .tabs {

            border: 1px solid #c3aad7;
            &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-right, &.ui-corner-br {
                @include border-top-right-radius(1rem);
            }
            &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-left, &.ui-corner-bl {
                @include border-top-left-radius(1rem);
            }
            &.ui-corner-all, &.ui-corner-top, &.ui-corner-right, &.ui-corner-tr {
                @include border-top-right-radius(1rem);
            }
            &.ui-corner-all, &.ui-corner-top, &.ui-corner-left, &.ui-corner-tl {
                @include border-top-left-radius(1rem);
            }            
        }

        p {
            color: #4e4e4e;
        }

        padding: 0em;
        .ui-tabs {
            padding:0px;
        }

        &.ui-widget-content {
            border: 0px;
            background-image: none;
        }

        .ui-tabs-panel {
            background-color: #e3d1f1;
        }
        .ui-tabs-nav {
            padding: 0;
        }            
        .tabs a, .tabs a:hover, .tabs a:focus {

            background-color: transparent;
        }
        .ui-widget-header {
            background-image: none;
            background-color: #e3d1f1;
            border: 0px;
            @include border-radius(1rem 1rem 0rem 0rem);    
            a {
                @include google_sans_font(bold);
                @include font-size(16);  // was 18 in psd            
                color: #FFF;
            }
            .ui-state-default {
                background-color: #b296c7;
                background-image: none;                
            }            
            .ui-state-active, .ui-state-hover {
                background-color: #8f468f;
                background-image: none;
            }

        }

        &.ui-corner-all  {
            @include border-radius(1rem 1rem 1rem 1rem);    
        }
        .ui-corner-top, .ui-corner-right, .ui-corner-tr {
            @include border-radius(1rem 1rem 0 0);     
        }

        .accordion {



            &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-right, &.ui-corner-br {
                @include border-radius(0rem);
            }
            &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-left, &.ui-corner-bl {
                @include border-radius(0rem);
            }
            &.ui-corner-all, &.ui-corner-top, &.ui-corner-right, &.ui-corner-tr {
                @include border-radius(0rem);
            }
            &.ui-corner-all, &.ui-corner-top, &.ui-corner-left, &.ui-corner-tl {
                @include border-radius(0rem);
            }            

            //Reset for accordion
            h3.ui-accordion-header {
                text-align: center;

                &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-right, &.ui-corner-br {
                    @include border-radius(0rem);
                }
                &.ui-corner-all, &.ui-corner-bottom, &.ui-corner-left, &.ui-corner-bl {
                    @include border-radius(0rem);
                }
                &.ui-corner-all, &.ui-corner-top, &.ui-corner-right, &.ui-corner-tr {
                    @include border-radius(0rem);
                }
                &.ui-corner-all, &.ui-corner-top, &.ui-corner-left, &.ui-corner-tl {
                    @include border-radius(0rem);
                }

            }
            .ui-accordion-header {
                margin-top: 0px;
            }

            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
                background-image: none;
                border: 0px solid #FFF;
                background-color: #b296c7;
            }


            .ui-accordion-header-active        {
                background-color: #8f468f;
            }
            .ui-accordion-header .ui-accordion-header-icon {	  
                left: auto;
                right: 1em;	
                top: 55%;
            }    
            .ui-accordion-icons {
                padding-left: 0.5em;
            }    
            .ui-icon { 
                text-indent: 0;
                background-image: none;
            }
            .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
                color: #FFF;
                @include google_sans_font(bold);          
            }        
            .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
                color: #FFF;
                @include google_sans_font(bold);

            }
            .ui-state-default .ui-icon:after {
                color:#FFF;
                content: "\e60a";
                display:block;
                font-family:"icomoon";
                font-size:12px;
                position:absolute;
                top:0;
            }
            .ui-state-active .ui-icon:after {
                font-family:"icomoon";
                content: "\e60b" !important;

            } 
        }

        @include device-size(tablet) {
            p {
                //padding-left: 24%;
            }
        }        
    }
}

// how are we doing
.collapsed-simpletruth-pane-5 {  
    background-image: image-url('backgrounds/how-are-we-doing_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 360px;
    @include device-size(tablet) {
        background-color: #fff9fa;
    }
    @include device-size(mobile) {
        background-image: image-url('backgrounds/how_are_we_doing_mobile_bk.jpg');
        min-height: inherit;
    }       
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);
    &.removeshadows {
        @include box-shadow(0px -3px 2px 0px #aaa);
        @include border-radius(0);  
    }    
    #how-doing {
        width: 45%;
        position: absolute;
        right: 0;
        top: 0;
        @include device-size(mobile) {
            position: relative;
            width: 100%;  
            padding-bottom: 1%;
        }         
        @include format_title_copy_cta('backgrounds/how_doing_title_bk.png', 10%, 20%, 8%, #f16477);        
        @include device-size(tablet) {
            h2 {          
                padding-bottom: 11%;
                padding-top: 27%;
            }

        }

    }    
}
// how are we doing
.expand-simpletruth-pane-5 {  
    background-image: image-url('backgrounds/how-are-we-doing_bottom_bk.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    @include device-size(tablet) {
        background-image: none;
        background-color: #fff9fa;
    }   
    @include device-size(mobile) {
        background-image: image-url('backgrounds/how_are_we_doing_mobile_bk.jpg');
        min-height: inherit;
    }    
    @include box-shadow(0px 2px 2px 0px #aaa);
    @include border-radius(0 0 1rem 1rem);    
    margin-top: -3px;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    p.rtecenter {
        text-align: center;
        img {
            padding: 1%;
        }
    }
}

.page-node-151 .bottom-row {
    @include device-size(mobile) { 
        background-image: image-url('backgrounds/stayintouch_mobile_header.png');
        background-size: 100% auto;
    }    
    margin-left: 0;
    margin-right: 0;
    .full {
        margin-left: 4%;
        margin-right: 4%;
    }     
}

.simple-truth-footer {
    .simple-truth-footer-copy {
        padding-top: 7%;
        margin-bottom: 5%;
    }
    h2 {
        background-image: image-url('backgrounds/simple_truth_footer_title_bk.png');
        background-repeat: no-repeat;
        color: #FFF;
        height: 96px;
        width: 397px;
        padding-top: 0.5%;
        padding-left: 5%;
        @include google_sans_font(bold);
        @include font-size(39);  // was 41 in psd        
    }
    @include device-size(mobile) { 

        h2 { 
            display: none;
        }
        p img {
            display: none;
        }
    }
    a.cta {
        background-color: #2581de;
        color: #FFF;
        width: auto;
        position: relative;
        display: inline-block !important;
        filter: none;   // Overriding this for IE 9 since its picking it up.        
        padding: 5px 50px;
        @include google_sans_font(regular);
        @include font-size(16);  // was 20 in psd
        @include prefix(border-radius, 20px);
        &:after{
            padding-left: 5px;
            content: "\e613";
            font-family:'icomoon';
            @include device-size(mobile) {
                position: absolute;
                right: 15px;
            }
        }
        @include device-size(mobile) {
            width: 100%;
            padding: 5px 20px;
        }        
    }

}
