// Text box
//  Use:
//  <p class="text-box">
//    Lorem ipsum
//  </p>

.text-box{
    position: relative;
    display: block;

    margin: 0 0 1rem 0;

    font-size: 1.4rem;
    line-height: 2rem;

    &:before {
        content: "";
        display: block;
        height: 5px;
        width: 100%;      
        @include dashed-border(11px, 6px, 1px, $borderlines);
    }
    &:after {
        content: "";
        display: block;
        height: 24px;
        margin-top: 24px;
        width: 100%;      
        @include dashed-border(11px, 6px, 1px, $borderlines);
    }  
    // Avoid margin in last P
    p:last-child{
        margin-bottom: 0;
    }

    h2 {
        padding-left: 6%;
        @include font-resize-jbaby(50,36);
    }
    p{
        margin-left: 6% !important;
    }
    .video-container {
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;
    }
    ul {
        margin-left: 5%;
    }    
    li {
        line-height: 2.5rem;
    }
    img {
        margin-left: 8%;
    }
}
.massage-guides-wrapper .text-box {
    &:before {

        @include dashed-border(11px, 6px, 1px, #febcbe);
    }
    &:after {
        @include dashed-border(11px, 6px, 1px, #febcbe);
    } 
    h2 {
        @include font-size(23);

    }
    h3 {
        margin-left: 2.2rem;
        @include google_sans_font(bold);  
        @include font-resize-jbaby(46);
        color: #333333;
    }    
}
.text-box.col {
    float: left;
    margin-right: 3px;
}
.text-box-clear {
    clear: both;
}

.text-box-like-callout {
    position: relative;
    display: block;    
    padding: 3.5rem;
    margin: 0 0 1rem 0;
    @include border-radius(1rem);
    @include box-shadow(0px 2px 4px rgba(0,0,0,.2));
    background-color: #FFFFFF !important;    
    p {
        margin: 0px;
    }
}
.page-node-115 {
    .text-box-like-callout {
        p {    
            color: #efbc6c;
            @include font-size($extraLargeFontSize);
        }
    }
}
.page-node-119 {
    .text-box-image {
        background-image: image-url('backgrounds/mostofbathtime_duck.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        height: 188px;
        width: 220px;
        position:absolute;
        bottom: -50px;
        right: 0;
        @include device-size(tablet) {
            background-image: none;
            height: 0;
            width: 0;
        }        
    }    
    .text-box-like-callout {
        p {
            color: #abc470;
            @include font-size($extraLargeFontSize);
        }
        margin-bottom: 50px;
    }
    @include device-size(tablet) {
        .spacer { display: none;}
    }
}

.page-node-120  {

    .text-box-image {
        background-image: image-url('backgrounds/toddler_bath.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        height: 214px;
        width: 218px;
        position:absolute;
        bottom: -75px;
        right: 0;
        @include device-size(tablet) {
            background-image: none;
            height: 0;
            width: 0;
        }
    }   
    .text-box-like-callout {
        p {    
            color: #8bd5ef;
            @include font-size($extraLargeFontSize);
        }
        margin-bottom: 75px;
    }
    @include device-size(tablet) {
        .spacer { display: none;}
    }    
}


// Text box featured
.text-box--featured{
    background-color: #f3f2fc;
    @include filter-gradient(#f3f2fc, #edebf8, vertical);
    @include background-image(linear-gradient(top,  #f3f2fc 0%,#edebf8 100%));

    &:before{
        border: 2px dashed #c0c0c6;
    }

    a {
        position: relative;
    }
}

// Text box featured
.text-box--featured-pink{
    background-color: #fbe5e8;
    @include filter-gradient(#fbe5e8, #fbd7dc, vertical);
    @include background-image(linear-gradient(top,  #fbe5e8 0%,#fbd7dc 100%));

    &:before{
        border: 2px dashed #f6a2ad;
    }

    a {
        position: relative;
    }
}
.text-centered {
    text-align: center;
}

.featured-image-left {
    float: left;
    margin-right: 20px;
}

.featured-image-right {
    float: right;
    margin-left: 20px;
}

.text-box-tiny {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    margin-left: 10px;
}